@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: hsl(16, 40%, 36%);
    --bg-color1: #f2f2f2;
    --bg-color: #F8FBFF;
    --white: #fff;
    --text-color : #161515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'inter';
    max-width: 430px;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: auto;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav {
    /* background-color: var(--white); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section {
    width: 375px;
    height: 375px;
    margin: auto;
}

.header-products {
    height: 375px;
    width: auto;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 10px;
}

.header-product {
    min-width: 95%;
    height: 375px;
    margin: auto;
    position: relative;
    background: #B56130;
    border-radius: 10px;
    color: var(--white);
}


.image-product {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  /* display: block; */
}

.image-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(181, 97, 48, 0) 60%, rgba(181, 97, 48, 1) 100%);
  pointer-events: none; /* pour ne pas bloquer les interactions */
}

.image-label {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: 20px;
}

.image-label h1 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0%;
    margin-bottom: 6px;
}

.image-label p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}

.header-button {
    display: flex;
    flex-direction: row;
    width: 120px;
    border : 1px solid var(--white);
    border-radius: 40px;
    color: var(--white);
    background-color:#FFFFFF33;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

main {
    width: 100%;
    height: auto;
    margin: 0px 28px;
}

.category-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 35px;
}

.category-section h1 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.category-items {
    width: 428px;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 10px;
}

.category-item {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #B56130;
    width: auto;
    height: 39px;
    color: white;
    gap: 4px;
    /* justify-content: flex-end; */
}

.category-icon {
    /* position: absolute; */
    display: flex;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-color: #D37139;
    align-items: center;
    top: 10px;
    left: 15px;
    align-items: center;
    justify-content: center;
}

.category-item h2 {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
}

.best-seller-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.best-seller-cards img {
    height: 98px;
    width: auto;
}

.best-seller-card {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 100%;
    height: 98px;
    border-radius: 10px;
    background-color: var(--white);
}

.best-seller-cards{
    display: flex;
    flex-direction: column;
    width: 375px;
    align-items: center;
}

.best-seller-cards a{
    text-decoration: none;
}

.best-seller-card-content {
    padding-right: 27px;
}

.best-seller-card-content h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: var(--text-color);
}

.best-seller-card-content p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    color: var(--text-color);

}









.best-seller-section h1 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}